<div>
  <app-carousel></app-carousel>
</div>
<div class="container text-center">
    <h3>My Books</h3>
    <p><em>We love books!</em></p>
    <p>We have created a source that never goes unrecognized! </p>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><strong>Kiddo</strong></p><br>
        <a href="#demo" data-toggle="collapse">
            
            <div class="front face">
          <img src="kid.jpg" class="img-circle person" alt="Random Name" width="255" height="255"></div>
        </a>
        <div id="demo" class="collapse">
          <p>Books for Kids</p>
          <p>Let your kid fall in love with books</p>
          <p>Moral Values Joy</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Fiction</strong></p><br>
        <a href="#demo2" data-toggle="collapse">
          <img src="fic.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo2" class="collapse">
          <p>Fiction</p>
          <p>Even in future, the story begins with Once Upon a time</p>
          <p>Thrill your nerve</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Crime</strong></p><br>
        <a href="#demo3" data-toggle="collapse">
          <img src="cri.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo3" class="collapse">
          <p>Murder Mystery</p>
          <p>Stop crime, before crime stops you</p>
          <p>Lets cut out knife crime</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><br><br><strong>Fantasy</strong></p><br>
        <a href="#demo4" data-toggle="collapse">
          <img src="pic4.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo4" class="collapse">
          <p>Fantasy</p>
          <p>It doesnt to dwell your dreams and forget to live</p>
          <p>Stories that won't leave you</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><br><br><strong>Suspense</strong></p><br>
        <a href="#demo5" data-toggle="collapse">
          <img src="pic5.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo5" class="collapse">
          <p>Suspense</p>
          <p>You know the methods</p>
          <p>They were the footprints of gigantic minds!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><br><br><strong>Bed Time Stories</strong></p><br>
        <a href="#demo6" data-toggle="collapse">
          <img src="pic6.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo6" class="collapse">
          <p>Bed Time Stories</p>
          <p>Out of order for the next 10 hours</p>
          <p>Sweet Dreams... Good Night...</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><br><br><strong>Biography</strong></p><br>
        <a href="#demo7" data-toggle="collapse">
          <img src="pic7.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo7" class="collapse">
          <p>Biography</p>
          <p>Life of people that enligthens your life</p>
          <p>Never Stop Thinking</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><br><br><strong>Educational</strong></p><br>
        <a href="#demo8" data-toggle="collapse">
          <img src="pic8.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo8" class="collapse">
          <p>Educational</p>
          <p>Books with real knowledge</p>
          <p>A true friend for life</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><br><br><strong>Adventure</strong></p><br>
        <a href="#demo9" data-toggle="collapse">
          <img src="pic9.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo9" class="collapse">
          <p>Adventure</p>
          <p>Allow your mind to fly</p>
          <p>Stars turn into life</p>
        </div>
      </div>
    </div></div>