<div class="container text-center">
  <h3>Top Selling Books</h3>
  <p><em>Everyone wants the best, right?</em></p>
  <p>We have created a source that never goes unrecognized! </p>
  <br>
  <div class="row">

    <div class="col-sm-4" >
      <p class="text-center"><strong>The Immortals of Meluha (Shiva Trilogy)</strong></p><br>
      
      <a href="#demo" data-toggle="collapse">
          
          <div class="front face">
        <img src="pic\first.jpg" class="img-circle person" alt="Random Name" width="255" height="255"></div>
      </a>
     
       <div id="demo" class="collapse"><br>
        <!-- <button  (click)="getposts('The Immortals of Meluha (Shiva Trilogy)','9380658745');" >Wishlist</button><br> --> 
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view1"><i class="fa fa-search"></i> Quick View</button>


        

      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>The Girl in Room 105</strong></p><br>
     
     
      <a href="#demo2" data-toggle="collapse">
        <img src="pic\second.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse"><br>
        <!-- <p>This is not a love story. It is an unlove story.</p>
        <p>Price: ₹99</p> -->
        <!-- <button type="button" (click)="getposts('The Girl in Room 105','1542040469');" >Wishlist</button> -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view2"><i class="fa fa-search"></i> Quick View</button>
       
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Shunya: A Novel</strong></p><br>
      
      
      <a href="#demo3" data-toggle="collapse">
        <img src="pic\third.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
     
     
      <div id="demo3" class="collapse"><br>
        <!-- <p>This first novel by Sri M is a meditation on the void which collapses the wall between reality and make-believe, the limited and the infinite. With its spare storytelling and profound wisdom, it leads us into the realm of ‘shunya’,
           the nothingness of profound and lasting peace, the beginning and end of all things.</p>
           <p>Price: ₹99</p> -->
           <!-- <button type="button" (click)="getposts('Shunya: A Novel','8193655605');" >Wishlist</button> -->
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view3"><i class="fa fa-search"></i> Quick View</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><br><br><strong>This Is Not Your Story</strong></p><br>
     
     
      <a href="#demo4" data-toggle="collapse">
        <img src="pic\4.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
     
     
      <div id="demo4" class="collapse"><br>
        <!-- <p>After her record-breaking debut novel Everyone Has A Story, Savi Sharma tells a transforming tale of courage, hope and self-discovery.</p>
        <p>Price: ₹99</p> -->
        <!-- <button type="button" (click)="getposts('This Is Not Your Story','9386224399');" >Wishlist</button> -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view4"><i class="fa fa-search"></i> Quick View</button>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><br><br><strong>Everyone Has a Story 2</strong></p><br>
      
      
      <a href="#demo5" data-toggle="collapse">
        <img src="pic\5.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
     
     
      <div id="demo5" class="collapse"><br>
        
        <!-- <p>Everyone has a story. But does a story end at with a ‘happily ever after’?</p>
        <p>Price: ₹99</p> -->
        <!-- <button type="button"  (click)="getposts('Everyone Has a Story 2','9387894126');" >Wishlist</button> -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view5"><i class="fa fa-search"></i> Quick View</button>
        
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><br><br><strong>A Girl to Remember</strong></p><br>
     
     
      <a href="#demo6" data-toggle="collapse">
        <img src="pic\6.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
     
     
      <div id="demo6" class="collapse"><br>
        <!-- <p>In every angel a demon hides, And in every demon, an angel strides. Neel is a self-proclaimed demon, a slave to his desires, putting at stake even the purest of relationships for it. He lives for himself,
           takes life as it comes, and considers people who love as emotional fools.</p>
           <p>Price: ₹99</p> -->
           <!-- <button type="button"   (click)="getposts('A Girl to Remember','9387022390');">Wishlist</button> -->
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view6"><i class="fa fa-search"></i> Quick View</button>
        
      </div>
    </div>
  </div>
  <div class="row">
   
   
    <div class="col-sm-4">
      <p class="text-center"><br><br><strong>The One from the Stars</strong></p><br>
      <a href="#demo7" data-toggle="collapse">
        <img src="pic\7.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      
      
      <div id="demo7" class="collapse"><br>
        <!-- <p>“The cost of not following your heart is spending the rest of your life wishing you had.”</p>
        <p>Price: ₹99</p> -->
        <!-- <button type="button"  (click)="getposts('The One from the Stars',' 9380349726');" >Wishlist</button> -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view7"><i class="fa fa-search"></i> Quick View</button>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><br><br><strong>Be My Perfect Ending</strong></p><br>
    
    
      <a href="#demo8" data-toggle="collapse">
        <img src="pic\8.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
     
     
      <div id="demo8" class="collapse"><br>
        <!-- <p>Not every story has a happy ending,
            but is a perfect ending all that matters?</p>
            <p>Price: ₹99</p> -->
            <!-- <button type="button"   (click)="getposts('Be My Perfect Ending',' 9387022080');">Wishlist</button> -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view8"><i class="fa fa-search"></i> Quick View</button>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><br><br><strong>You are My Reason to Smile</strong></p><br>
    
    
      <a href="#demo9" data-toggle="collapse">
        <img src="pic\9.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
     
     
      <div id="demo9" class="collapse"><br>
        <!-- <p>Ranbir is a dreamer, he has a well-paying job, but his aspirations are higher. He is a good lover, he adores Adah and can forego any comfort of the world for her sake.
           But even then, he is not happy. Because his true calling is not in the corporate, it’s in writing. </p>
           <p>Price: ₹99</p> -->
           <!-- <button type="button"   (click)="getposts('You are My Reason to Smile',' 9382665889');">Wishlist</button> -->
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#product_view9"><i class="fa fa-search"></i> Quick View</button>
           <br>
           <br>
           <br>
      </div>
    </div>
  </div></div>










  <div class="modal fade product_view" id="product_view1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove" ></span></a>
                <h3 class="modal-title">The Immortals of Meluha (Shiva Trilogy)</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img src="pic\first.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <p>An intense story 'The Immortals of Meluha' draws heavily from stories and legends of Hindu mythology that have
                          been passed on from generation to generation.</p>
                        <h3 class="cost"><span class="	fa fa-inr"></span> 99 
                          <small class="pre-cost">
                        </small></h3>
                        
                        <div class="space-ten"></div>
                        <div class="btn-ground">
                            <button data-dismiss="modal" type="button" (click)="getOrder('9380658745');" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Order</button>
                            <button type="button" (click)="getposts('The Immortals of Meluha (Shiva Trilogy)','9380658745');" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


<div class="modal fade product_view" id="product_view2">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
              <h3 class="modal-title">The Girl in Room 105</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-6 product_img">
                      <img src="pic\second.jpg" class="img-responsive">
                  </div>
                  <div class="col-md-6 product_content">
                      <p>This is not a love story. It is an unlove story.</p>
                      <h3 class="cost"><span class="	fa fa-inr"></span> 99 
                        <small class="pre-cost">
                      </small></h3>
                      
                      <div class="space-ten"></div>
                      <div class="btn-ground">
                          <button data-dismiss="modal" type="button" (click)="getOrder('1542040469');" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Order</button>
                          <button type="button"  (click)="getposts('The Girl in Room 105','1542040469');" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>


<div class="modal fade product_view" id="product_view3">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
              <h3 class="modal-title">Shunya: A Novel</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-6 product_img">
                      <img src="pic\third.jpg" class="img-responsive">
                  </div>
                  <div class="col-md-6 product_content">
                      <p>This first novel by Sri M is a meditation on the void which collapses the wall between reality and make-believe, the limited and the infinite. With its spare storytelling and profound wisdom, it leads us into the realm of ‘shunya’, the nothingness of profound and lasting peace, the beginning and end of all things.</p>
                      <h3 class="cost"><span class="	fa fa-inr"></span> 99 
                        <small class="pre-cost">
                      </small></h3>
                      
                      <div class="space-ten"></div>
                      <div class="btn-ground">
                          <button data-dismiss="modal" type="button" (click)="getOrder('8193655605');" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Order</button>
                          <button type="button"  (click)="getposts('Shunya: A Novel','8193655605');" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>


<div class="modal fade product_view" id="product_view4">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
              <h3 class="modal-title">This Is Not Your Story</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-6 product_img">
                      <img src="pic\4.jpg" class="img-responsive">
                  </div>
                  <div class="col-md-6 product_content">
                      <p>After her record-breaking debut novel Everyone Has A Story, Savi Sharma tells a transforming tale of courage, hope and self-discovery.</p>
                      <h3 class="cost"><span class="	fa fa-inr"></span> 99 
                        <small class="pre-cost">
                      </small></h3>
                      
                      <div class="space-ten"></div>
                      <div class="btn-ground">
                          <button data-dismiss="modal" type="button" (click)="getOrder('9386224399');" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Order</button>
                          <button type="button"  (click)="getposts('This Is Not Your Story','9386224399');" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>


<div class="modal fade product_view" id="product_view5">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
              <h3 class="modal-title">Everyone Has a Story 2</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-6 product_img">
                      <img src="pic\5.jpg" class="img-responsive">
                  </div>
                  <div class="col-md-6 product_content">
                      <p>Everyone has a story. But does a story end at with a ‘happily ever after’?</p>
                      <h3 class="cost"><span class="	fa fa-inr"></span> 99 
                        <small class="pre-cost">
                      </small></h3>
                      
                      <div class="space-ten"></div>
                      <div class="btn-ground">
                          <button data-dismiss="modal" type="button" (click)="getOrder('9387894126');" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Order</button>
                          <button type="button"  (click)="getposts('Everyone Has a Story 2','9387894126');" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>


<div class="modal fade product_view" id="product_view6">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
              <h3 class="modal-title">A Girl to Remember</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-6 product_img">
                      <img src="pic\6.jpg" class="img-responsive">
                  </div>
                  <div class="col-md-6 product_content">
                      <p>In every angel a demon hides, And in every demon, an angel strides. Neel is a self-proclaimed demon, a slave to his desires, putting at stake even the purest of relationships for it. He lives for himself, takes life as it comes, and considers people who love as emotional fools.</p>
                      <h3 class="cost"><span class="	fa fa-inr"></span> 99 
                        <small class="pre-cost">
                      </small></h3>
                      
                      <div class="space-ten"></div>
                      <div class="btn-ground">
                          <button data-dismiss="modal" type="button" (click)="getOrder('9387022390');" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Order</button>
                          <button type="button"  (click)="getposts('A Girl to Remember','9387022390');" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>


<div class="modal fade product_view" id="product_view7">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
              <h3 class="modal-title">The One from the Stars</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-6 product_img">
                      <img src="pic\7.jpg" class="img-responsive">
                  </div>
                  <div class="col-md-6 product_content">
                      <p>The cost of not following your heart is spending the rest of your life wishing you had.</p>
                      <h3 class="cost"><span class="	fa fa-inr"></span> 99 
                        <small class="pre-cost">
                      </small></h3>
                      
                      <div class="space-ten"></div>
                      <div class="btn-ground">
                          <button data-dismiss="modal" type="button" (click)="getOrder('9380349726');" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Order</button>
                          <button type="button"  (click)="getposts('The One from the Stars',' 9380349726');" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>


<div class="modal fade product_view" id="product_view8">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
              <h3 class="modal-title">Be My Perfect Ending</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-6 product_img">
                      <img src="pic\8.jpg" class="img-responsive">
                  </div>
                  <div class="col-md-6 product_content">
                      <p>Not every story has a happy ending,
                        but is a perfect ending all that matters?</p>
                      <h3 class="cost"><span class="	fa fa-inr"></span> 99 
                        <small class="pre-cost">
                      </small></h3>
                      
                      <div class="space-ten"></div>
                      <div class="btn-ground">
                          <button data-dismiss="modal" type="button" (click)="getOrder('9387022080');" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Order</button>
                          <button type="button"  (click)="getposts('Be My Perfect Ending',' 9387022080');" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>


<div class="modal fade product_view" id="product_view9">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
              <h3 class="modal-title">You are My Reason to Smile</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-6 product_img">
                      <img src="pic\9.jpg" class="img-responsive">
                  </div>
                  <div class="col-md-6 product_content">
                      <p>Ranbir is a dreamer, he has a well-paying job, but his aspirations are higher. He is a good lover, he adores Adah and can forego any comfort of the world for her sake.
                        But even then, he is not happy. Because his true calling is not in the corporate, it’s in writing.</p>
                      <h3 class="cost"><span class="	fa fa-inr"></span> 99 
                        <small class="pre-cost">
                      </small></h3>
                      
                      <div class="space-ten"></div>
                      <div class="btn-ground">
                          <button data-dismiss="modal" type="button" (click)="getOrder('9382665889');" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Order</button>
                          <button type="button"  (click)="getposts('You are My Reason to Smile',' 9382665889');" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
