
<!--
<button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
<button (click)="socialSignIn('vkontakte')">Sign in with VKontakte</button> 
-->

<!--<button (click)="socialSignIn('google')">Sign in with Google</button>-->
<div class="text-center social-btn">
 <a (click)="socialSignIn('facebook')" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>
<a (click)="socialSignIn('google')" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
</div>