<div class="center" align="center">
  <table style="width:750px; height:500px; border: 1px solid black;border-collapse: collapse;padding: 5px; " rules="all">
    <tr>
      <td style="background-image:url(buy_book.jpg); background-size:100% 100%;" (click)="buybooks()"> </td>
      <td style="background-image:url(feedback.jpg); background-size:100% 100%;" (click)="feedback()" ></td>
  
    </tr>
  <tr>
    <td style="background-image:url(add_book.png); background-size:100% 100%;" (click)="addbook()"></td>
    
    <td style="background-image:url(delete_book.png); background-size:100% 100%;" (click)="updatebook()"></td>
    
  </tr>
  </table>
  
  </div>
